/* IMPOSTAZIONI GENERALI */
body {
  max-width: 500px;
  max-height: auto;
  background-image: url(sfondo.png);
  background-color: #3498db;
  color: #ffffff;
}
/* HEADER */
header {
  background-color: #3498db;
  width: 500px;
}

/* MAIN */
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
